<ion-header>
  <ion-toolbar>
    <ion-title class='tittle' ><img src='assets/img/tittle.png'></ion-title>
  </ion-toolbar>
</ion-header>


<!-- INICIO CUERPO -->
<ion-content>
<!-- CONTENEDOR RECUPERAR -->
  <div class='contenedor'>
      <br>
      <div class='recuperar'>
        <ion-card>
          <img src='assets/img/pass.png' width='500px'>
          <!-- INPUT USUARIO-->
          <ion-item>
            <ion-input placeholder='INGRESE SU USUARIO'maxlength='7' required ></ion-input>
          </ion-item>
          <br>
          <ion-button color='medium'>
            <a href='http://localhost:8100/pagina1'><p class='boton'><b>CANCELAR</b></p></a>
          </ion-button>
          <ion-button color='warning'>
            <a href='http://localhost:8100/pagina1'><p class='boton'><b>RESTABLECER</b></p></a>
          </ion-button>
        </ion-card>
      </div>
    <!-- CIERRE CONTENEDOR -->
  </div>
    
<!-- CIERRE CUERPO -->
</ion-content>