<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      RegistrAPP
    </ion-title>
  </ion-toolbar>
</ion-header>


<!-- INICIO -->
<ion-content [fullscreen]="true" class="fondo">

  <h1>Bienvenido al SitioWeb RegitrAPP</h1>
  <br>

<!-- CONTENEDOR LOGIN -->
  <div class='login'>

        <img src="assets/img/1.png">

    <br>

    <h2>Iniciar Sesión</h2>
    
    <br>

      <!-- INPUT USUARIO-->
      <ion-input placeholder="USUARIO"></ion-input>
      <!-- INPUT CONTRASEÑA-->
      <ion-input placeholder="CONTRASEÑA" type="password"></ion-input>

    <br>
    <ion-button color="warning">Ingresar</ion-button>
  </div>

<!-- CIERRE -->
</ion-content>
